section.products
    .container
        .products__filter
            include ../filter/_filter-main.pug
        ul.products__list
            li.products__item
                .products__price
                    .products__price-text 1 800
                .products__wrap
                    img(src=require("./img/tshirt_06.png"), alt="T-shirt photo").products__img
                    .products__info
                        span.products__text Мужская футболка 3D с принтом Летающие черепахи
                        include ../btn/_btn-detail.pug
            li.products__item
                .products__price
                    .products__price-text 2 500
                .products__wrap
                    img(src=require("./img/tshirt_05.png"), alt="T-shirt photo").products__img
                    .products__info
                        span.products__text Мужская футболка 3D с принтом Летающие черепахи
                        include ../btn/_btn-detail.pug
            li.products__item.products__item--big.products__item--black
                .products__price
                    .products__price-text 2 800
                .products__wrap
                    img(src=require("./img/tshirt_04.png"), alt="T-shirt photo").products__img
                    .products__info
                        span.products__text Мужская футболка 3D с принтом Летающие черепахи
                        include ../btn/_btn-detail.pug
            li.products__item.products__item--big.products__item--black
                .products__price
                    .products__price-text 2 500
                .products__wrap
                    img(src=require("./img/tshirt_03.png"), alt="T-shirt photo").products__img
                    .products__info
                        span.products__text Мужская футболка 3D с принтом Летающие черепахи
                        include ../btn/_btn-detail.pug
            li.products__item
                .products__price
                    .products__price-text 2 000
                .products__wrap
                    img(src=require("./img/tshirt_02.png"), alt="T-shirt photo").products__img
                    .products__info
                        span.products__text Мужская футболка 3D с принтом Летающие черепахи
                        include ../btn/_btn-detail.pug
            li.products__item
                .products__price
                    .products__price-text 1 250
                .products__wrap
                    img(src=require("./img/tshirt_01.png"), alt="T-shirt photo").products__img
                    .products__info
                        span.products__text Мужская футболка 3D с принтом Летающие черепахи
                        include ../btn/_btn-detail.pug
